@media screen and (prefers-color-scheme: dark) {

html.default {
  background: #1c1c1c;
  color: #dcdcd0;
  scrollbar-color: #737370 #181818;
}

.default body {
  background: #222222;
  color: #dcdcd0;
  border-color: #3c3c3c;
  box-shadow: 0 0 4px 4px #171717;
}

.default ::-webkit-scrollbar-track {
  background-color: #181818;
}

.default ::-webkit-scrollbar-track-piece {
  background-color: #181818;
}

.default ::-webkit-scrollbar-thumb {
  background-color: #737370;
}

.default ::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaa4;
}

.default ::-webkit-scrollbar-corner {
  background-color: #181818;
}

.default a:link,
.default a:visited {
  color: #7096B9;
  text-decoration: none;
}

.default a:focus,
.default a:link:hover,
.default a:visited:hover {
  color: rgb(0,173,238);
  text-shadow: 0 0 3px rgba(0,173,238,0.75);
}

@-moz-document url-prefix() {
  .default a:focus,
  .default a:link:hover,
  .default a:visited:hover {
    text-shadow: none;
  }
}

.default h1:first-of-type {
  background-color: #3c3c3c;
  color: #dcdcd0;
}

.default h1,
.default h2 {
  border-color: #3c3c3c;
}

.default h6 {
  color: #aaa;
}

.default hr {
  border-color: #3c3c3c;
}

.default blockquote {
  border-color: #3c3c3c;
  color: #989896;
}

.default table th {
  background-color: #2d2d2d;
}

.default table th,
.default table td {
  border-color: #3c3c3c;
}

.default table tr {
  border-color: #3c3c3c;
  background-color: #222222;
}

.default table tbody {
  border-color: #3c3c3c;
}

.default table > :last-child {
  border-color: #3c3c3c;
}

.default table tr:nth-child(even) {
  background-color: #272727;
}

.default .footnotes li:target {
  background-color: #2d2d2d;
}

.default img {
  filter: contrast(70%) grayscale(20%);
  -webkit-filter: contrast(70%) grayscale(20%);
}

.default .images img {
  border-color: #3c3c3c;
  background-color: #1f1f1f;
}

.default code,
.default tt {
  border-color: #2d2d2d;
  background-color: #2d2d2d;
}

.default pre {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.default .metadata {
  background-color: #2d2d2d;
  color: #999;
  border-color: #3c3c3c;
}

.default .nav-up a,
.default .navtab a {
  color: #777;
}

.default input[type="checkbox"]#themeToggle + label {
  color: #999;
}

.default footer,
.default .footer {
  color: #999;
}

.default .note {
  border-color: #fe7;
  background-color: #fe7;
  color: #000;
}

.default .issue {
  border-color: #ae7;
  background-color: #ae7;
  color: #000;
}

.default .hint {
  border-color: #9bf;
  background-color: #9bf;
  color: #000;
}

.default .tip {
  border-color: #9bf;
  background-color: #9bf;
  color: #000;
}

.default .important {
  border-color: #cbf;
  background-color: #cbf;
  color: #000;
}

.default .warning {
  border-color: #fc7;
  background-color: #fc7;
  color: #000;
}

.default .caution {
  border-color: #f97;
  background-color: #f97;
  color: #000;
}

.default .note code,
.default .note pre,
.default .note tt
 {
  border-color: #ffdd50;
  background-color: #ffdd50;
}

.default .note blockquote {
  border-color: #ffd22f;
  color: #cca000;
}

.default .issue code,
.default .issue pre,
.default .issue tt
 {
  border-color: #9d5;
  background-color: #9d5;
}

.default .issue blockquote {
  border-color: #8d4;
  color: #461;
}

.default .hint code,
.default .hint pre,
.default .hint tt {
  border-color: #7af;
  background-color: #7af;
}

.default .hint blockquote {
  border-color: #69f;
  color: #4b72a0;
}

.default .tip code,
.default .tip pre,
.default .tip tt {
  border-color: #7af;
  background-color: #7af;
}

.default .tip blockquote {
  border-color: #69f;
  color: #4b72a0;
}

.default .important code,
.default .important pre,
.default .important tt {
  border-color: #baf;
  background-color: #baf;
}

.default .important blockquote {
  border-color: #a7f;
  color: #5a4b7e;
}

.default .warning code,
.default .warning pre,
.default .warning tt {
  border-color: #fb4;
  background-color: #fb4;
}

.default .warning blockquote {
  border-color: #fa3;
  color: #a86200;
}

.default .caution code,
.default .caution pre,
.default .caution tt {
  border-color: #f75;
  background-color: #f75;
}

.default .caution blockquote {
  border-color: #f64;
  color: #812d1b;
}

.default .note a:link,
.default .note a:visited,
.default .issue a:link,
.default .issue a:visited,
.default .important a:link,
.default .important a:visited,
.default .warning a:link,
.default .warning a:visited,
.default .caution a:link,
.default .caution a:visited
{
  color: #4c7eac;
}

.default .hint a:link,
.default .hint a:visited,
.default .tip a:link,
.default .tip a:visited
{
  color: #2269ac;
}

.default .note a:focus,
.default .note a:link:hover,
.default .note a:visited:hover,
.default .issue a:focus,
.default .issue a:link:hover,
.default .issue a:visited:hover,
.default .hint a:focus,
.default .hint a:link:hover,
.default .hint a:visited:hover,
.default .tip a:focus,
.default .tip a:link:hover,
.default .tip a:visited:hover,
.default .important a:focus,
.default .important a:link:hover,
.default .important a:visited:hover,
.default .warning a:focus,
.default .warning a:link:hover,
.default .warning a:visited:hover,
.default .caution a:focus,
.default .caution a:link:hover,
.default .caution a:visited:hover
{
  color: rgb(0,173,238);
  text-shadow: none;
}

/* zenburn theme */
.default pre.prettyprinted {
  background-color: #2d2d2d !important;
  border-color: #2d2d2d !important;
}

.default pre.prettyprinted code {
  background-color: inherit !important;
  border-color: inherit !important;
}

.default pre .nocode { background-color: transparent; color: #2d2d2d !important }
.default pre .str { color: #cc9393 !important }
.default pre .kwd { color: #f0dca5 !important; font-weight: normal !important }
.default pre .com { color: #7f9f7f !important }
.default pre .typ { color: #8cd0d3 !important }
.default pre .lit { color: #c5d47f !important }
.default pre .pun { color: #dcdcd0 !important }
.default pre .pln { color: #dcdcd0 !important }
.default pre .tag { color: #8cd0d3 !important; font-weight: normal !important }
.default pre .atn { color: #f0dca5 !important; font-weight: normal !important }
.default pre .atv { color: #cc9393 !important }
.default pre .dec { color: #c5d47f !important }

/* Specify class=linenums on a pre to get line numbering */
.default ol.linenums {
  color: #aeaea4;
}

.default input[type="checkbox"]#themeToggle + label {
  color: #999;
}

.default input[type="checkbox"]#themeToggle + label:after {
  background-color: #888;
  mask-image: var(--toggle-indeterminate);
  -webkit-mask-image: var(--toggle-indeterminate);
}

.default ::selection {
  background-color: rgba(111, 111, 105, 0.42);
}

.default ::-moz-selection {
  background-color: rgba(111, 111, 105, 0.42);
}

}

@media screen and (prefers-color-scheme: dark) and (min-device-width: 768px) and (min-width: 1360px) {
  .default .toc a.active {
    background-color: #7096B9;
    color: #fff;
    text-shadow: none;
  }

  .default h1:first-of-type {
    border-color: #3c3c3c;
  }
}
