@media screen {

html.light {
  background: #f7f7f7;
  color: #000;
  scrollbar-color: #aaaaaa #e7e7e7;
}

.light body {
  background: #fff;
  color: #000;
  border-color: #ccc;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.07);
}

.light ::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}

.light ::-webkit-scrollbar-track-piece {
  background-color: #e7e7e7;
}

.light ::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
}

.light ::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

.light ::-webkit-scrollbar-corner {
  background-color: #e7e7e7;
}

.light a:link,
.light a:visited {
  color: #4183c4;
}

.light a:focus,
.light a:link:hover,
.light a:visited:hover {
  color: rgb(0,173,238);
  text-shadow: none;
}

.light h1:first-of-type {
  background-color: #f7f7f7;
  color: #000;
}

.light h1,
.light h2 {
  border-color: #ccc;
}

.light h6 { 
  color: #777;
}

.light hr {
  border-color: #ccc;
}

.light blockquote {
  border-color: #ddd;
  color: #555;
}

.light table th {
  background-color: #f7f7f7;
}

.light table th,
.light table td {
  border-color: #ccc;
}

.light table tr {
  border-color: #ccc;
  background-color: #fff;
}

.light table tbody {
  border-color: #ccc;
}

.light table > :last-child {
  border-color: #ccc;
}

.light table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.light .footnotes li:target {
  background-color: #f7f7f7;
}

.light img {
  filter: none;
  -webkit-filter: none;
}

.light .images img {
  border-color: 1px solid #ccc;
  background-color: #f7f7f7;
}

.light code, 
.light tt {
  border-color: #f4f4f4;
  background-color: #f4f4f4;
}

.light pre {
  background-color: #f4f4f4;
  border-color: #ccc;
}

.light .metadata {
  background-color: #f7f7f7;
  color: #999;
  border-color: #ccc;
}

.light .nav-up a,
.light .navtab a {
  color: #bbb;
}

.light input[type="checkbox"]#themeToggle + label {
  color: #999;
}

.light footer,
.light .footer {
  color: #999;
}

.light .note {
  border-color: #fd6;
  background-color: #fff9cc;
  color: #000;
}

.light .issue {
  border-color: #ad6;
  background-color: #efc;
  color: #000;
}

.light .hint {
  border-color: #9bf;
  background-color: #ddeaff;
  color: #000;
}

.light .tip {
  border-color: #9bf;
  background-color: #ddeaff;
  color: #000;
}

.light .important {
  border-color: #baf;
  background-color: #ece6ff;
  color: #000;
}

.light .warning {
  border-color: #fc7;
  background-color: #fff3cc;
  color: #000;
}

.light .caution {
  border-color: #f87;
  background-color: #ffd6cc;
  color: #000;
}

.light .note code,
.light .note pre,
.light .note tt {
  border-color: #fff09e;
  background-color: #fff09e;
}

.light .note blockquote {
  border-color: #fd6;
  color: #a61;
}

.light .issue code,
.light .issue pre,
.light .issue tt {
  border-color: #daff9e;
  background-color: #daff9e;
}

.light .issue blockquote {
  border-color: #ad6;
  color: #351;
}

.light .hint code,
.light .hint pre,
.light .hint tt {
  border-color: #c4dfff;
  background-color: #c4dfff;
}

.light .hint blockquote {
  border-color: #9bf;
  color: #268;
}

.light .tip code,
.light .tip pre,
.light .tip tt {
  border-color: #c4dfff;
  background-color: #c4dfff;
}

.light .tip blockquote {
  border-color: #9bf;
  color: #268;
}

.light .important code,
.light .important pre,
.light .important tt {
  border-color: #ddd3ff;
  background-color: #ddd3ff;
}

.light .important blockquote {
  border-color: #baf;
  color: #438;
}

.light .warning code,
.light .warning pre,
.light .warning tt {
  border-color: #ffe9a1;
  background-color: #ffe9a1;
}

.light .warning blockquote {
  border-color: #fc7;
  color: #852;
}

.light .caution code,
.light .caution pre,
.light .caution tt {
  border-color: #ffbfaf;
  background-color: #ffbfaf;
}

.light .caution blockquote {
  border-color: #f87;
  color: #832;
}

.light .note a:link,
.light .note a:visited,
.light .issue a:link,
.light .issue a:visited,
.light .important a:link,
.light .important a:visited,
.light .warning a:link,
.light .warning a:visited,
.light .caution a:link,
.light .caution a:visited
{
  color: #4183c4;
}

.light .hint a:link,
.light .hint a:visited,
.light .tip a:link,
.light .tip a:visited
{
  color: #4183c4;
}

.light .note a:focus,
.light .note a:link:hover,
.light .note a:visited:hover,
.light .issue a:focus,
.light .issue a:link:hover,
.light .issue a:visited:hover,
.light .hint a:focus,
.light .hint a:link:hover,
.light .hint a:visited:hover,
.light .tip a:focus,
.light .tip a:link:hover,
.light .tip a:visited:hover,
.light .important a:focus,
.light .important a:link:hover,
.light .important a:visited:hover,
.light .warning a:focus,
.light .warning a:link:hover,
.light .warning a:visited:hover,
.light .caution a:focus,
.light .caution a:link:hover,
.light .caution a:visited:hover
{
  color: rgb(0,173,238);
  text-shadow: none;
}

/* light theme */
.light pre.prettyprinted {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}

.light pre.prettyprinted code {
  background-color: inherit !important;
  border-color: inherit !important;
}

.light pre .nocode { background-color: transparent; color: #f7f7f7 !important }
.light pre .str { color: #bb0000 !important }
.light pre .kwd { color: #b57a00 !important; font-weight: normal !important }
.light pre .com { color: #099009 !important }
.light pre .typ { color: #009ba5 !important }
.light pre .lit { color: #869f04 !important }
.light pre .pun { color: #000000 !important }
.light pre .pln { color: #000000 !important }
.light pre .tag { color: #009ba5 !important; font-weight: normal !important }
.light pre .atn { color: #b57a00 !important; font-weight: normal !important }
.light pre .atv { color: #bb0000 !important }
.light pre .dec { color: #869f04 !important }

/* Specify class=linenums on a pre to get line numbering */
.light ol.linenums {
  color: #aeaeae;
}

.light input[type="checkbox"]#themeToggle + label {
  color: #aaa;
}

.light input[type="checkbox"]#themeToggle + label:after {
  transform: rotateY(180deg);
  mask-image: var(--toggle-off);
  -webkit-mask-image: var(--toggle-off);
  background-color: #bbb;
}

}

@media screen and (min-device-width: 768px) and (min-width: 1360px) {
  .light .toc a.active {
    background-color: #4183c4;
    color: #fff;
    text-shadow: none;
  }

  .light h1:first-of-type {
    border-color: #ccc;
  }
}
