* {
  margin: 0;
  padding: 0;
}

html {
  background: #f7f7f7;
  color: #000;
  scrollbar-color: #aaaaaa #e7e7e7;
  scrollbar-width: thin;
}

body {
  font-size: 14px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  position: relative;
  background: #fff;
  color: #000;
  line-height: 1.6;
  max-width: 1000px;
  margin: 0 auto 40px auto;
  /* border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
  padding: 0 30px 60px 30px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.07);
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}

::-webkit-scrollbar-track-piece {
  background-color: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background-color: #b9b9b9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

::-webkit-scrollbar-corner {
  background-color: #e7e7e7;
}

pre, code, tt {
  font-size: 12px;
  font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Consolas, monospace;
}

input, button, textarea {
  font-size: 100%;
  font-family: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, progress, section {
  display: block;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

body > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

a:link,
a:visited {
  color: #4183c4;
  text-decoration: none;
}

a:focus,
a:link:hover,
a:visited:hover {
  color: rgb(0,173,238);
  text-decoration: underline;
}

a:focus {
  outline: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  clear: left;
  /* overflow doesn't work with scroll-margin. So, just let the headings wrap. */
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
}

h1:first-of-type {
  background-color: #f7f7f7;
  margin: 0 -30px 10px;
  padding: 0 30px;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  text-decoration: none;
  line-height: 1;
  padding-left: 0;
  margin-left: -22px;
  top: 15%;
}

h1 tt, h1 code,
h2 tt, h2 code,
h3 tt, h3 code,
h4 tt, h4 code,
h5 tt, h5 code,
h6 tt, h6 code {
  font-size: inherit;
}

/* h1, h2 {
  border-bottom: 1px solid #ccc;
} */

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; color: #777; }

p, blockquote, table, pre {
  margin: 15px 0;
}

figcaption {
  margin-bottom: 15px;
}

li p:first-child {
  display: inline;
  /* margin-top: 0 !important; */
}

/*
The following rules are intended to outline number nested list items (e.g. 1,
1.1, 1.2, 1.2.1, etc.).  However, it is broken in the following cases:

  - A list nested within another element like <blockquote> starts at the second
    level.  For example, 0.1, 0.2, 0.3, etc.

  - An ordered list nested within an unordered list nested within an ordered
    list is rendered as a unordered list.  For example,

    1. ordered item1
       - unordered item
          - ordered item 1.1 (rendered as a unordered item instead of ordered)
*/
/*
ol,
ul {
  counter-reset: item;
}

ol li {
  list-style-type: none;
}

ol li:before {
  display: inline;
  margin: 0 0 0em -1.5em;
  padding-right: 0.3em;
  content: counters(item, ".") ". ";
  counter-increment: item;
}

ul li {
  list-style-type: disc;
}

ul li:before {
  content: "";
  display: inline;
  margin: 0 0 0em 0em;
  padding-right: 0em;
}
*/

ul li {
  list-style-type: disc;
}

hr {
  border: 0;
  border-top: #ccc 1px solid;
}

h1:first-child,
h1:first-child + h2,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

li p.first {
  display: inline-block;
}

ul,
ol {
  padding-left: 30px;
}

ul.no-list,
ol.no-list {
  list-style-type: none;
  padding: 0;
}

p + ul, p + ol {
  margin-bottom: 15px;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

dl dt:first-child {
  padding: 0;
}

dl dt > :first-child {
  margin-top: 0;
}

dl dt > :last-child {
  margin-bottom: 0;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

dl dd > :first-child {
  margin-top: 0;
}

dl dd > :last-child {
  margin-bottom: 0;
}

blockquote {
  border-left: 4px solid #ddd;
  padding: 0 0 0 15px;
  color: #555;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

table th {
  font-weight: bold;
  background-color: #f7f7f7;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 3px 10px;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

table tbody {
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
}

table > :last-child {
  border-bottom: 1px solid #ccc;
}

table tr:nth-child(even) {
  background-color: #f7f7f7;
}

figure {
  padding: 10px 0;
}

.footnotes hr {
  padding: 5px 0;
}

.footnotes li:target {
  background-color: #f7f7f7;
}

img {
  max-width: 100%;
}  
/* IE hack */
a img {
  border: none;
  outline: none;
}

.images {
  overflow-x: auto;
  white-space: nowrap;
}

.images img {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  padding: 4px;
}

iframe {
  border: none;
  overflow: hidden;
}

code, tt {
  margin: 0;
  padding: 2px 4px;
  white-space: pre-wrap;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  border-radius: 3px;
}

pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

pre {
  background-color: #f4f4f4;
  /* border: 1px solid #ccc; */
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  word-wrap: normal;
}

pre code,
pre tt {
  background-color: transparent;
  border: none;
}

.metadata {
  background-color: #f7f7f7;
  color: #999;
  margin: 0 -30px 0 -30px;
  padding: 2px 30px 2px 30px;
  /* border-bottom: #ccc 1px solid; */
}

.toc ul {
  padding-left: 15px;
  scrollbar-width: thin;
}

.nav-up, .navtab {
  position: absolute;
  left: 20px;
  margin-left: -30px;
}

.nav-up a,
.navtab a {
  text-decoration: none;
  position: relative;
  top: 10px;
  color: #bbb;
}

.nav-up a i,
.navtab a i {
  font-weight: bold;
  padding: 0 20px 0 20px;
}

:root {
  --toggle-indeterminate: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,6H7c-3.309,0-6,2.691-6,6c0,3.309,2.691,6,6,6h10c3.309,0,6-2.691,6-6C23,8.691,20.309,6,17,6z M12,16 c-2.209,0-4-1.791-4-4c0-2.209,1.791-4,4-4s4,1.791,4,4C16,14.209,14.209,16,12,16z"></path></svg>');
  --toggle-off: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,6H7c-3.309,0-6,2.691-6,6c0,3.309,2.691,6,6,6h10c3.309,0,6-2.691,6-6C23,8.691,20.309,6,17,6z M7,16 c-2.209,0-4-1.791-4-4c0-2.209,1.791-4,4-4s4,1.791,4,4C11,14.209,9.209,16,7,16z"></path></svg>');
}


input[type="checkbox"]#themeToggle {
  display: none;
}

label[for="themeToggle"] {
  opacity: 0;
}

.dark label[for="themeToggle"],
.default label[for="themeToggle"],
.light label[for="themeToggle"]
{
  opacity: 1;
}


label[for="themeToggle"] {
  position: absolute;
  height: 20px;
  top: 10px;
  right: 10px;
  color: #aaa;
  cursor: pointer;
  text-align: center;
  font-family: FontAwesome;
}

@media(max-device-width: 768px) {
  label[for="themeToggle"] {
    font-size: 160%;
  }
}

label[for="themeToggle"]:after {
  display: inline-block;
  color: transparent;
  background-color: #bbb;
  width: 22px;
  height: 22px;
  margin-left: 5px;
  content: ".";
  mask-image: var(--toggle-indeterminate);
  -webkit-mask-image: var(--toggle-indeterminate);
}

footer, .footer {
  padding-top: 30px;
  color: #999;
}

@media(min-device-width: 768px) and (min-width: 1360px) {
  body {
    margin: 0 auto 80vh 280px;
  }

  h1, h2, h3, h4, h5, h6, a[id] {
    scroll-margin-top: 50px;
  }

  .footnotes li {
    scroll-margin-top: 45px;
  }


  h1:first-of-type {
    position: sticky;
    width: 1000px;
    line-height: 44px;
    top: 0;
    left: 310px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 3px 2px -1px rgba(0, 0, 0, 0.15);
    border-top: none;
    z-index: 1;
  }

  .nav-up, .navtab {
    position: fixed;
    left: 300px;
    top: 0;
    z-index: 2;
  }

  input[type="checkbox"]#themeToggle + label {
    position: fixed;
    left: 1292px;
    right: auto;
    top: 12px;
    z-index: 2;
  }

  .toc {
    font-size: 12px;
    position: fixed;
    float: none;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    border: none;
    width: 280px;
  }

  .toc h2 {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    margin: 0;
    background: transparent;
    border: none;
    line-height: 35px;
  }

  .toc ul {
    padding-left: 10px;
  }

  .toc > ul {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .toc ul a {
    display: block;
    line-height: 16px;
    padding: 4px 10px 4px 0;
  }

  .toc > ul > li > a {
    padding-left: 10px;
  }

  .toc li {
    list-style-type: none;
  }

  .toc li li a {
    margin-left: -10px;
    padding-left: 20px;
  }

  .toc li li li a {
    margin-left: -20px;
    padding-left: 30px;
  }

  .toc li li li li a {
    margin-left: -30px;
    padding-left: 40px;
  }

  .toc a.active {
    background-color: #4183c4;
    color: #fff;
  }

  footer, .footer {
    float: right;
    font-size: 85%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .toc ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}

.columns3,
.index {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  /* Webkit has a layout bug where list items are rendered in the wrong
   * location when the list is wrapped into multiple columns. When the bug
   * occurs, some list items are rendered on top of one another, while empty
   * spaces appear in list where no item is rendered. As a workaround, setting
   * the display property to inline-block avoids the layout bug, but the width
   * has to be set in that case to fill the entire width of the page. */
  display: inline-block;
  width: 97%;
}

.columns2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  display: inline-block;
  width: 97%;
}

.columns2 ul,
.columns3 ul,
.index ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.columns2 il li,
.columns3 ul li,
.index ul li {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.column50pct {
  float: left;
  width: 500px;
}

.column33pct {
  float: left;
  width: 333px;
}

.clear {
  clear: both;
}

.note:before {
  content: url("note.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.issue:before {
  content: url("issue.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.hint:before {
  content: url("hint.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.tip:before {
  content: url("tip.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.important:before {
  content: url("important.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.warning:before {
  content: url("warning.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.caution:before {
  content: url("caution.png");
  width: 32px;
  height: 32px;
  padding-right: 10px;
  float: left;
}

.note,
.issue,
.hint,
.tip,
.important,
.warning,
.caution {
  margin: 15px 0;
  border-radius: 3px;
  padding: 6px 10px;
  /* Chrome started rendering vertical scrollbars sometime around 2024-09 when
   * overflow is set to auto. Setting overflow to hidden avoids the
   * scrollbar. */
  overflow: hidden;
}

.note {
  /* border: 1px solid #fd6; */
  background-color: #fff9cc
}

.issue {
  /* border: 1px solid #ad6; */
  background-color: #efc;
}

.hint {
  /* border: 1px solid #9bf; */
  background-color: #ddeaff;
}

.tip {
  /* border: 1px solid #9bf; */
  background-color: #ddeaff;
}

.important {
  /* border: 1px solid #baf; */
  background-color: #ece6ff;
}

.warning {
  /* border: 1px solid #fc7; */
  background-color: #fff3cc;
}

.caution {
  /* border: 1px solid #f87; */
  background-color: #ffd6cc;
}

.note p:first-child,
.issue p:first-child,
.hint p:first-child,
.tip p:first-child,
.important p:first-child,
.warning p:first-child,
.caution p:first-child {
  margin-top: 0 !important;
}

.note p:last-child,
.issue p:last-child,
.hint p:last-child,
.tip p:last-child,
.important p:last-child,
.warning p:last-child,
.caution p:last-child {
  margin-bottom: 0 !important;
}

.note pre > code,
.issue pre > code,
.hint pre > code,
.tip pre > code,
.important pre > code,
.warning pre > code,
.caution pre > code {
  border: none;
  background: transparent;
}

.note code,
.note pre,
.note tt {
  border: 1px solid #fff09e;
  background-color: #fff09e;
}

.note blockquote {
  border-left: 4px solid #fd6;
  color: #a61;
}

.issue code,
.issue pre,
.issue tt {
  border: 1px solid #daff9e;
  background-color: #daff9e;
}

.issue blockquote {
  border-left: 4px solid #ad6;
  color: #351;
}

.hint code,
.hint pre,
.hint tt {
  border: 1px solid #c4dfff;
  background-color: #c4dfff;
}

.hint blockquote {
  border-left: 4px solid #9bf;
  color: #268;
}

.tip code,
.tip pre,
.tip tt {
  border: 1px solid #c4dfff;
  background-color: #c4dfff;
}

.tip blockquote {
  border-left: 4px solid #9bf;
  color: #268;
}

.important code,
.important pre,
.important tt {
  border: 1px solid #ddd3ff;
  background-color: #ddd3ff;
}

.important blockquote {
  border-left: 4px solid #baf;
  color: #438;
}

.warning code,
.warning pre,
.warning tt {
  border: 1px solid #ffe9a1;
  background-color: #ffe9a1;
}

.warning blockquote {
  border-left: 4px solid #fc7;
  color: #852;
}

.caution code,
.caution pre,
.caution tt {
  border: 1px solid #ffbfaf;
  background-color: #ffbfaf;
}

.caution blockquote {
  border-left: 4px solid #f87;
  color: #832;
}

.scrollable {
  overflow: auto;
}

.scrollable table {
  word-wrap: break-word;
}

.smaller {
  font-size: 80%;
}

/* zenburn theme */
/* pre.prettyprinted {
    display: block;
    background-color: #2f2f2f !important;
} */
/* pre .nocode { background-color: none; color: #2f2f2f !important }
pre .str { color: #cc9393 !important }
pre .kwd { color: #f0dfaf !important; font-weight: bold !important }
pre .com { color: #7f9f7f !important }
pre .typ { color: #8cd0d3 !important }
pre .lit { color: #c5d47f !important }
pre .pun { color: #dcdccc !important }
pre .pln { color: #dcdccc !important }
pre .tag { color: #8cd0d3 !important; font-weight: bold !important }
pre .atn { color: #dfaf8f !important; font-weight: bold !important }
pre .atv { color: #cc9393 !important }
pre .dec { color: #c5d47f !important } */

/* light theme */
pre.prettyprinted {
  display: block;
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  border-radius: 3px;
}

/*
pre .nocode { background-color: none; color: #fafafa !important }
pre .str { color: #fb8b06 !important }
pre .kwd { color: #0c6c9f !important; font-weight: bold !important }
pre .com { color: #52c4c1 !important }
pre .typ { color: #971e00 !important }
pre .lit { color: #fb4f06 !important }
pre .pun { color: #b25c37 !important }
pre .pln { color: #000000 !important }
pre .tag { color: #0c6c9f !important; font-weight: bold !important }
pre .atn { color: #fbb206 !important; font-weight: normal !important }
pre .atv { color: #fb8b06 !important }
pre .dec { color: #fb4f06 !important } */

pre .nocode { background-color: transparent; color: #f7f7f7 !important }
pre .str { color: #bb0000 !important }
pre .kwd { color: #d49900 !important; font-weight: normal !important }
pre .com { color: #099009 !important }
pre .typ { color: #019ba5 !important }
pre .lit { color: #92af00 !important }
pre .pun { color: #000000 !important }
pre .pln { color: #000000 !important }
pre .tag { color: #019ba5 !important; font-weight: normal !important }
pre .atn { color: #d49900 !important; font-weight: normal !important }
pre .atv { color: #bb0000 !important }
pre .dec { color: #92af00 !important }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #aeaeae } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
/* li.L1,li.L3,li.L5,li.L7,li.L9 { } */

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}

@media print {
  body {
    font-size: 11px;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 15px;
  }

  a:link,
  a:visited {
    color: inherit;
    border-bottom: 1px solid #ccc
  }

  pre, code, tt {
    font-size: 10px;
    line-height: 16px;
  }

  h1:first-of-type {
    background-color: inherit;
    margin: 0;
    padding: 0;
  }

  h1 { font-size: 22px; }
  h2 { font-size: 18px; }
  h3 { font-size: 14px; }
  h4 { font-size: 12.5px; }
  h5 { font-size: 11px; }
  h6 { font-size: 11px; }

  h1, h2 {
    border-color: #ccc;
  }

  pre, code, tt {
    background-color: inherit;
    border: 1pt solid #ccc;
    word-wrap: break-word;
  }

  pre code, pre tt {
    background-color: inherit;
  }

  .nav-up, .navtab {
    display: none;
  }

  input[type="checkbox"]#themeToggle + label {
    display: none;
  }

  input[type="checkbox"]#themeToggle + label:after {
    display: none;
  }
}

@media screen and (prefers-color-scheme: light) {

  input[type="checkbox"]#themeToggle + label {
    color: #aaa;
  }

  input[type="checkbox"]#themeToggle + label:after {
    background-color: #bbb;
  }
}
