@media screen {

html.dark {
  background: #1c1c1c;
  color: #dcdcd0;
  scrollbar-color: #737370 #181818;
}

.dark body {
  background: #222222;
  color: #dcdcd0;
  border-color: #3c3c3c;
  box-shadow: 0 0 4px 4px #171717;
}

.dark ::-webkit-scrollbar-track {
  background-color: #181818;
}

.dark ::-webkit-scrollbar-track-piece {
  background-color: #181818;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #737370;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaa4;
}

.dark ::-webkit-scrollbar-corner {
  background-color: #181818;
}

.dark a:link,
.dark a:visited {
  color: #7096B9;
  text-decoration: none;
}

.dark a:focus,
.dark a:link:hover,
.dark a:visited:hover {
  color: rgb(0,173,238);
  text-shadow: 0 0 3px rgba(0,173,238,0.75);
}

@-moz-document url-prefix() {
  .dark a:focus,
  .dark a:link:hover,
  .dark a:visited:hover {
    text-shadow: none;
  }
}

.dark h1:first-of-type {
  background-color: #3c3c3c;
  color: #dcdcd0;
}

.dark h1,
.dark h2 {
  border-color: #3c3c3c;
}

.dark h6 {
  color: #aaa;
}

.dark hr {
  border-color: #3c3c3c;
}

.dark blockquote {
  border-color: #3c3c3c;
  color: #989896;
}

.dark table th {
  background-color: #2d2d2d;
}

.dark table th,
.dark table td {
  border-color: #3c3c3c;
}

.dark table tr {
  border-color: #3c3c3c;
  background-color: #222222;
}

.dark table tbody {
  border-color: #3c3c3c;
}

.dark table > :last-child {
  border-color: #3c3c3c;
}

.dark table tr:nth-child(even) {
  background-color: #272727;
}

.dark .footnotes li:target {
  background-color: #2d2d2d;
}

.dark img {
  filter: contrast(70%) grayscale(20%);
  -webkit-filter: contrast(70%) grayscale(20%);
}

.dark .images img {
  border-color: #3c3c3c;
  background-color: #1f1f1f;
}

.dark code,
.dark tt {
  border-color: #2d2d2d;
  background-color: #2d2d2d;
}

.dark pre {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.dark .metadata {
  background-color: #2d2d2d;
  color: #999;
  border-color: #3c3c3c;
}

.dark .nav-up a,
.dark .navtab a {
  color: #777;
}

.dark input[type="checkbox"]#themeToggle + label {
  color: #999;
}

.dark footer,
.dark .footer {
  color: #999;
}

.dark .note {
  border-color: #fe7;
  background-color: #fe7;
  color: #000;
}

.dark .issue {
  border-color: #ae7;
  background-color: #ae7;
  color: #000;
}

.dark .hint {
  border-color: #9bf;
  background-color: #9bf;
  color: #000;
}

.dark .tip {
  border-color: #9bf;
  background-color: #9bf;
  color: #000;
}

.dark .important {
  border-color: #cbf;
  background-color: #cbf;
  color: #000;
}

.dark .warning {
  border-color: #fc7;
  background-color: #fc7;
  color: #000;
}

.dark .caution {
  border-color: #f97;
  background-color: #f97;
  color: #000;
}

.dark .note code,
.dark .note pre,
.dark .note tt
 {
  border-color: #ffdd50;
  background-color: #ffdd50;
}

.dark .note blockquote {
  border-color: #ffd22f;
  color: #cca000;
}

.dark .issue code,
.dark .issue pre,
.dark .issue tt
 {
  border-color: #9d5;
  background-color: #9d5;
}

.dark .issue blockquote {
  border-color: #8d4;
  color: #461;
}

.dark .hint code,
.dark .hint pre,
.dark .hint tt {
  border-color: #7af;
  background-color: #7af;
}

.dark .hint blockquote {
  border-color: #69f;
  color: #4b72a0;
}

.dark .tip code,
.dark .tip pre,
.dark .tip tt {
  border-color: #7af;
  background-color: #7af;
}

.dark .tip blockquote {
  border-color: #69f;
  color: #4b72a0;
}

.dark .important code,
.dark .important pre,
.dark .important tt {
  border-color: #baf;
  background-color: #baf;
}

.dark .important blockquote {
  border-color: #a7f;
  color: #5a4b7e;
}

.dark .warning code,
.dark .warning pre,
.dark .warning tt {
  border-color: #fb4;
  background-color: #fb4;
}

.dark .warning blockquote {
  border-color: #fa3;
  color: #a86200;
}

.dark .caution code,
.dark .caution pre,
.dark .caution tt {
  border-color: #f75;
  background-color: #f75;
}

.dark .caution blockquote {
  border-color: #f64;
  color: #812d1b;
}

.dark .note a:link,
.dark .note a:visited,
.dark .issue a:link,
.dark .issue a:visited,
.dark .important a:link,
.dark .important a:visited,
.dark .warning a:link,
.dark .warning a:visited,
.dark .caution a:link,
.dark .caution a:visited
{
  color: #4c7eac;
}

.dark .hint a:link,
.dark .hint a:visited,
.dark .tip a:link,
.dark .tip a:visited
{
  color: #2269ac;
}

.dark .note a:focus,
.dark .note a:link:hover,
.dark .note a:visited:hover,
.dark .issue a:focus,
.dark .issue a:link:hover,
.dark .issue a:visited:hover,
.dark .hint a:focus,
.dark .hint a:link:hover,
.dark .hint a:visited:hover,
.dark .tip a:focus,
.dark .tip a:link:hover,
.dark .tip a:visited:hover,
.dark .important a:focus,
.dark .important a:link:hover,
.dark .important a:visited:hover,
.dark .warning a:focus,
.dark .warning a:link:hover,
.dark .warning a:visited:hover,
.dark .caution a:focus,
.dark .caution a:link:hover,
.dark .caution a:visited:hover
{
  color: rgb(0,173,238);
  text-shadow: none;
}

/* zenburn theme */
.dark pre.prettyprinted {
  background-color: #2d2d2d !important;
  border-color: #2d2d2d !important;
}

.dark pre.prettyprinted code {
  background-color: inherit !important;
  border-color: inherit !important;
}

.dark pre .nocode { background-color: transparent; color: #2d2d2d !important }
.dark pre .str { color: #cc9393 !important }
.dark pre .kwd { color: #f0dca5 !important; font-weight: normal !important }
.dark pre .com { color: #7f9f7f !important }
.dark pre .typ { color: #8cd0d3 !important }
.dark pre .lit { color: #c5d47f !important }
.dark pre .pun { color: #dcdcd0 !important }
.dark pre .pln { color: #dcdcd0 !important }
.dark pre .tag { color: #8cd0d3 !important; font-weight: normal !important }
.dark pre .atn { color: #f0dca5 !important; font-weight: normal !important }
.dark pre .atv { color: #cc9393 !important }
.dark pre .dec { color: #c5d47f !important }

/* Specify class=linenums on a pre to get line numbering */
.dark ol.linenums {
  color: #aeaea4;
}

.dark input[type="checkbox"]#themeToggle + label {
  color: #999;
}

.dark input[type="checkbox"]#themeToggle + label:after {
  background-color: #888;
  mask-image: var(--toggle-off);
  -webkit-mask-image: var(--toggle-off);
}

.dark ::selection {
  background-color: rgba(111, 111, 105, 0.42);
}

.dark ::-moz-selection {
  background-color: rgba(111, 111, 105, 0.42);
}

}

@media screen and (min-device-width: 768px) and (min-width: 1360px) {
  .dark .toc a.active {
    background-color: #7096B9;
    color: #fff;
    text-shadow: none;
  }

  .dark h1:first-of-type {
    border-color: #3c3c3c;
  }
}
